<style>
  .social__link{
    font-size: 25px;
  }
</style>

<footer class="footer">
  <div class="container">
    <nav class="social">
      {% if site.facebook_username %}
      <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/{{ site.facebook_username }}">
        <i class="fab fa-facebook-square"></i>
      </a>
    {% endif %}
      {% if site.twitter_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/{{ site.twitter_username }}">
          <i class="fab fa-twitter"></i>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{ site.instagram_username }}">
          <i class="fab fa-instagram"></i>
        </a>
      {% endif %}
      {% if site.youtube_username %}
      <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCfgcRnij1bCc0fN4qR-J6QQ?fbclid=IwAR0SDuYMUKWgnEVrHSrbMrpuF9bHY0IgjmQFyZudoS6wzl5Cqf2uXzfMYiA">
        <i class="fab fa-youtube"></i>
      </a>
    {% endif %}
    {% if site.twitch_username %}
    <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/{{ site.twitch_username }}">
      <i class="fab fa-twitch"></i>
    </a>
  {% endif %}
    </nav>
    <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</span>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
