

<form id="contactForm" action="https://formspree.io/robert_gabriel@outlook.com" method="post" novalidate>

  <div class="form__input half">
    <label for="subject">Subject</label>
    <input type="text" name="subject" id="subject" autocomplete="subject" required>
  </div>


  <div class="form__input half">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" autocomplete="name" required>
  </div>

  <div class="form__input input half">
    <label for="emailAddress">Email</label>
    <input type="email" name="emailAddress" id="email" autocomplete="email" required>
  </div>

  <div class="form__input">
    <label for="body">Message</label>
    <textarea type="text" name="body" id="message" rows="7" autocomplete="message" required></textarea>
  </div>

  <input type="hidden" name="_format" value="plain" />

  <button class="btn js-submit" type="submit" value="Send">Send</button>
</form>



<script src="https://script.foform.com/foform.js"></script>